@model PaintClicker.Models.ApplicationUser
@using PaintClicker.DatabaseModels
@*<div class="gameContainer">
        <div class="paintFlexParent">
            <table>
                <tr>
                    <th>Upgrade</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                @* For each (upgrade/too/item) add a new row with each variable's information
            </table>
        </div>
        <div class="generationDiv">
            <button id="chipGen" type="button" class="buttonAlpha buttonBeta">Generate Paint Chips</button>
        </div>
    </div>*@

@{
    Playe player = new Playe()
    {
        Chisels = 0,
        Email = "",
        Mixer = 0,
        Name = "",
        PaintChips = 0,
        PaintChuncks = 0,
        Workers = 0
    };
    if (User.Identity.IsAuthenticated)
    {
        player = new Playe();
        using (var db = new WebClickerGameEntities())
        {
            List<Playe> queryResult = null;
            queryResult = db.Playes.Where(x => x.Email == Model.Email).ToList();

            if (queryResult != null)
            {
                player = queryResult.First();
            }
            else
            {
                player = new Playe()
                {
                    Chisels = 0,
                    Email = Model.Email,
                    Mixer = 0,
                    Name = Model.UserName,
                    PaintChips = 0,
                    PaintChuncks = 0,
                    Workers = 0
                };
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paint Clicker</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>

</head>

<body>
    <div class="row">
        <div id="clickPanel">
            <div id="playerStats">
                <text id="chipCount">@player.PaintChips</text>

                <button class="paintClick" type="button" id="chipButton">CHIP</button>
            </div>
        </div>

        <div class="column middle" style="background-color: #02547D;">
            <div class="upgradePanel" id="clickUpgrades" style="overflow-y:scroll auto">
                <div style="display:table;">
                    <div style="display:table-cell;vertical-align:middle;">
                        <div style="margin-left:auto;margin-right:auto;">
                            <button class="inventoryButton" type="button" id="chiselButton">Buy Chisel</button>
                            <text id="chisels">@player.Chisels</text>
                            <button class="inventoryButton" type="button" id="workerButton">Buy Worker</button>
                            <text id="workers">@player.Workers</text>
                            <button class="inventoryButton" type="button" id="mixerButton">Buy Mixer</button>
                            <text id="mixers">@player.Mixer</text>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopContainer">
                <button class="inventoryButton" type="button" id="workerButton">Buy Worker</button>
                <p id="workerAmount">Owned:</p>
                <p id="workerPrice">Price: </p>
            </div>
            <div class="shopContainer">
                <button class="inventoryButton" type="button" id="mixerButton">Buy Mixer</button>
                <p id="mixerAmount">Owned: </p>
                <p id="mixerPrice">Price: </p>
            </div>
        </div>
        <div id="generationUpgrades">
        </div>
    </div>
    @Html.ActionLink("Home", "Save",null,new { id = "SaveButton" });
    <script src="~/Scripts/GameLogic.js" type="text/javascript"></script>
</body>

</html>



