@using PaintClicker.DatabaseModels
@*<div class="gameContainer">
        <div class="paintFlexParent">
            <table>
                <tr>
                    <th>Upgrade</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
                @* For each (upgrade/too/item) add a new row with each variable's information
            </table>
        </div>
        <div class="generationDiv">
            <button id="chipGen" type="button" class="buttonAlpha buttonBeta">Generate Paint Chips</button>
        </div>
    </div>*@

@{
    Player player = new Player()
    {
        Chisels = 0,
        Mixers = 0,
        Name = "",
        PaintChips = 0,
        PaintChunks = 0,
        Workers = 0
    };

    if (User.Identity.IsAuthenticated)
    {

        <h1 id="UserName"> @User.Identity.Name</h1>
        using (var db = new WebClickerGameEntities())
        {
            Player queryResult = null;
            queryResult = db.Players.Find(User.Identity.Name);
            if (queryResult != null)
            {
                player = queryResult;
            }
            else
            {
                player = new Player()
                {
                    Chisels = 0,
                    Mixers = 0,
                    Name = User.Identity.Name,
                    PaintChips = 0,
                    PaintChunks = 0, 
                    Workers = 0
                };
                db.Players.Add(player);
                db.SaveChanges();
            }
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paint Clicker</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Clicker.css">
    <link href="https://fonts.googleapis.com/css?family=Atomic+Age"  rel="stylesheet"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
</head> 



<body>
    <div class="row" >
        <div id="clickUpgrades" class="mainContainer">
            <div class="shopParent">
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="chiselButton">Buy Chisel</button>
                    <p>
                        <text>Owned:</text>
                        <div id="chiselAmount">@player.Chisels</div>
                        <text>Price:</text>
                        <div id="chiselPrice">50</div>
                    </p>
                </div>
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="workerButton"> Buy Worker</button>
                    <p>
                        <text>Owned:</text>
                        <div id="workerAmount">@player.Workers</div>
                        <text>Price:</text>
                        <div id="workerPrice">10</div>
                    </p>
                </div>
                <div class="shopContainer">
                    <button class="inventoryButton" type="button" id="mixerButton">Buy Mixer</button>
                    <p>
                        <text>Owned:</text>
                        <div id="mixerAmount">@player.Mixers</div>
                        <text>Price:</text>
                        <div id="mixerPrice">25</div>
                    </p>
                </div>
            </div>
        </div>

        <div id="clickPanel" class="mainContainer">
            <div id="playerStats">
                <p>Chips Generated:</p>
                <div id="chipCount">@player.PaintChips</div>
                <div class="playerStats">Chips Per Second:  <div id="chipsPerSecond">0</div></div>
                <button class="paintClick" type="button" id="chipButton"></button>
            </div>
        </div>

        <div id="generationUpgrades" class="mainContainer">
            <div ><button class="inventoryButton" type="button" id="ResearchPaintThinner">Paint Thinner</button> <br>Price: 500</div>
            <div><button class="inventoryButton" type="button" id="ResearchSteroids">Steroids</button><br>Price: 1,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchProsthetics">Prosthetics</button><br>Price: 1,500</div>
            <div><button class="inventoryButton" type="button" id="ResearchNanoBots">NanoBots</button><br>Price: 3,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchElectricChisels">Electric Chisels</button><br>Price: 10,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchPlasmaChisels">Plasma Chisels</button><br>Price: 25,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchQuantumChisels">Quantum Chisels</button><br>Price: 50,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchAntiMatterChisels">AntiMatter Chisels</button><br>Price: 75,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchOscilators">Oscilators</button><br>Price: 150,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchPaintCollider">Paint Collider</button><br>Price: 300,000</div>
            <div><button class="inventoryButton" type="button" id="ResearchPaintMultiverse" >Paint Multiverse</button><br>Price: 1,0000,000</div>
        </div>
    </div>
    @Html.ActionLink("Save", "Save", null, new { id = "SaveButton" })
    @*@Html.HiddenFor(x => User.Identity.Name,new { id = "NameHidden" })*@
    <script src="~/Scripts/GameLogic.js" type="text/javascript"></script>
</body>

</html>


